<div data-aos="fade-down" data-aos-duration="1500" class="h-full ml-32 mr-4 bg-white border-r rounded-full">
    <nav
    class="my-1 px-1 w-full max-w-full relative flex flex-col mt-2 mb-4 min-w-0 break-words shadow-soft-lg rounded-2xl bg-clip-border ">
    <div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
      <div *ngIf="router.url === '/'">
        <nav class="pl-6">
          <!-- breadcrumb -->
          <ol class="flex flex-wrap pt-1 bg-transparent rounded-lg">
            <li class="leading-normal text-sm">
              <a class="opacity-50 text-slate-700" routerLink="/">Pages</a>
            </li>
            <li
              class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']"
              aria-current="page">Dashboard</li>
          </ol>
          <h6 class="mb-0 font-bold capitalize">Dashboard</h6>
        </nav>
      </div>
      <div class="flex items-start mt-2 grow sm:mt-0 sm:mr-6 md:mr-0 lg:flex lg:basis-auto">
        <div class="flex items-start md:ml-auto md:pr-4">
          <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
            <h5 class="ml-4 font-semibold text-xl">{{currentDate | date: 'EEEE, d-MM-yy, h:mm:ss'}}</h5>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>