<div class="fixed top-0 left-0 flex flex-col bg-gray-100 w-20 ml-5 border-r h-5/6 mt-10 mb-10 max-lg:hidden rounded-xl shadow-lg">
  <div class="pt-24">
    <div class="flex-grow overflow-x-hidden overflow-y-auto grid content-between">
      <ul class="flex flex-col py-4 space-y-1" role="group">
        <li>
          <a [ngClass]="
            router.url == '/home' 
              ? 'text-gray-100 mx-4 bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] rounded-xl' 
              : 'text-gray-600 hover:text-blue-400 hover:bg-gray-100 pl-4 duration-200'
            " 
            routerLink="/home" 
            class="relative flex items-center py-3 space-x-4 group">
            <span class="inline-flex items-center justify-center ml-3.5 relative">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="20" height="20" >
                    <path class="fill-current " fill-rule="evenodd"
                        d="M13,0h6a5,5,0,0,1,5,5v6H13ZM11,0h-.959L0,10.041V11H3.172L11,3.172Zm2,18,5-5H13Zm11-5H20.828L13,20.828V24h.959L24,13.959ZM11,13H0v6a5,5,0,0,0,5,5h6Zm0-7L6,11h5Zm5.787,18H19a5,5,0,0,0,5-5V16.787ZM7.213,0H5A5,5,0,0,0,0,5V7.213Z" />
                </svg>
            </span>
          </a>
        </li>
        <li>
          <a [ngClass]="
            router.url == '/import'
              ? 'text-gray-100 mx-4 bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] rounded-xl'
              : 'text-gray-600 hover:text-blue-400 hover:bg-gray-100 pl-4 duration-200'
            " 
            routerLink="/import" 
            class="relative flex items-center py-3 space-x-4 group">
            <span class="inline-flex items-center justify-center ml-3 relative">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="20" height="20" >
                    <path class="fill-current " fill-rule="evenodd"
                        d="M13,0h6a5,5,0,0,1,5,5v6H13ZM11,0h-.959L0,10.041V11H3.172L11,3.172Zm2,18,5-5H13Zm11-5H20.828L13,20.828V24h.959L24,13.959ZM11,13H0v6a5,5,0,0,0,5,5h6Zm0-7L6,11h5Zm5.787,18H19a5,5,0,0,0,5-5V16.787ZM7.213,0H5A5,5,0,0,0,0,5V7.213Z" />
                </svg>
               
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
