<div class="lg:pl-28 max-sm:pl-6 md:pl-6 pr-2 pt-28">
    <div class="flex flex-wrap">
      <div class="w-full px-1 mx-auto">
        <div class="grid grid-cols-2">
            <div class="w-full px-1 p-4">
                <div
                  class="py-4 relative flex flex-col mb-2 min-w-0 break-words bg-gray-100 shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
                  <div class="flex-auto p-4">
                    <h5 class="text-center font-bold text-2xl">ARIMA</h5>
                  </div>
                  <div class="flex-auto p-6">
                    <apx-chart [series]="arimaDetail.series" [chart]="arimaDetail.chart" [dataLabels]="arimaDetail.dataLabels"
                      [plotOptions]="arimaDetail.plotOptions" [yaxis]="arimaDetail.yaxis" [legend]="arimaDetail.legend"
                      [fill]="arimaDetail.fill" [stroke]="arimaDetail.stroke" [tooltip]="arimaDetail.tooltip" [xaxis]="arimaDetail.xaxis"
                      [colors]="arimaDetail.colors"></apx-chart>
                  </div>
                </div>
              </div>
              <div class="w-full px-1 p-4">
                <div
                  class="py-4 relative flex flex-col mb-2 min-w-0 break-words bg-gray-100 shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
                  <div class="flex-auto p-4">
                    <h5 class="text-center font-bold text-2xl">MONTE CARLO</h5>
                  </div>
                  <div class="flex-auto p-6">
                    <apx-chart [series]="monteCarloDetail.series" [chart]="monteCarloDetail.chart" [dataLabels]="monteCarloDetail.dataLabels"
                      [plotOptions]="monteCarloDetail.plotOptions" [yaxis]="monteCarloDetail.yaxis" [legend]="monteCarloDetail.legend"
                      [fill]="monteCarloDetail.fill" [stroke]="monteCarloDetail.stroke" [tooltip]="monteCarloDetail.tooltip" [xaxis]="monteCarloDetail.xaxis"
                      [colors]="monteCarloDetail.colors"></apx-chart>
                  </div>
                </div>
              </div>
        </div>
        <div class="grid grid-cols-2">
          <div class="overflow-x-auto w-full px-1 p-4">
            <table class="min-w-full bg-white">
              <thead class="bg-gray-800 text-white shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
                <tr>
                  <th class="w-1/3 py-2 px-4">Real Value</th>
                  <th class="w-1/3 py-2 px-4">Forecast</th>
                  <th class="w-1/3 py-2 px-4">Error %</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-100 border-b shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
                  <td class="py-2 px-4"> person.name </td>
                  <td class="py-2 px-4"> person.age </td>
                  <td class="py-2 px-4"> person.occupation </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="overflow-x-auto w-full px-1 p-4">
            <table class="min-w-full bg-white">
              <thead class="bg-gray-800 text-white shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
                <tr>
                  <th class="w-1/3 py-2 px-4">Real Value</th>
                  <th class="w-1/3 py-2 px-4">Forecast</th>
                  <th class="w-1/3 py-2 px-4">Error %</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-100 border-b shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
                  <td class="py-2 px-4"> person.name </td>
                  <td class="py-2 px-4"> person.age </td>
                  <td class="py-2 px-4"> person.occupation </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
       
      </div>
    </div>
  </div>