<div class="lg:pl-28 max-sm:pl-6 md:pl-6 pr-2 pt-28">
  <div class="flex flex-wrap">
    <div class="w-full px-1 mx-auto">
      <div class="flex-auto p-4">
        <h5 class="text-start font-bold text-2xl">Machine Category</h5>
      </div>
      <div class="pl-2 mb-4">
        <a href="#_" class="relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span class="relative text-[#87CEFA]">Button Text</span>
          </span>
          </a>
      </div>
      <div class="w-full px-1">
        <div
          class="py-4 relative flex flex-col mb-2 min-w-0 break-words bg-gray-100 shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
          <div class="flex-auto p-4">
            <h5 class="text-center font-bold text-2xl">COMPARISON CHART</h5>
          </div>
          <div class="flex-auto p-6">
            <apx-chart [series]="dataSet.series" [chart]="dataSet.chart" [dataLabels]="dataSet.dataLabels"
              [plotOptions]="dataSet.plotOptions" [yaxis]="dataSet.yaxis" [legend]="dataSet.legend"
              [fill]="dataSet.fill" [stroke]="dataSet.stroke" [tooltip]="dataSet.tooltip" [xaxis]="dataSet.xaxis"
              [colors]="dataSet.colors"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>