<div class="lg:pl-28 max-sm:pl-6 md:pl-6 pr-2 pt-28">
  <div class="flex flex-wrap">
    <div class="w-full px-1 mx-auto pt-2">
      <div class="flex-auto p-4">
        <h5 class="text-start font-bold text-2xl">Machine Category</h5>
      </div>
      <div class="pl-2 mb-4">
        <a (click)="fetchMonteCarloData('Label_Length_AVE')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Label Length AVE</span>
          </span>
          </a>
        <a (click)="fetchMonteCarloData('Label_Length_PV')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Label Length PV</span>
          </span>
          </a>
        <a (click)="fetchMonteCarloData('Label_Length_SV')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Label Length SV</span>
          </span>
          </a>
        <a (click)="fetchMonteCarloData('Temp_G_Roller_Body_PV')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Temp Glue Roller Body PV</span>
          </span>
          </a>
        <a (click)="fetchMonteCarloData('Temp_Glue_Bar_PV')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Temp Glue Bar PV</span>
          </span>
          </a>
        <a (click)="fetchMonteCarloData('Temp_Glue_PV')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Temp Glue PV</span>
          </span>
          </a>
        <a (click)="fetchMonteCarloData('Temp_Glue_Scrapper_PV')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Temp Glue Scrapper PV</span>
          </span>
          </a>
        <a (click)="fetchMonteCarloData('Temp_Glue_Tank_PV')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Temp Glue Tank PV</span>
          </span>
          </a>
        <a (click)="fetchMonteCarloData('Temp_Glue_Roller_PV')" class="cursor-pointer relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md mx-1">
          <span class="w-full h-full bg-gradient-to-br from-[#87CEFA] via-[#1E90FF] to-[#00BFFF] group-hover:from-[#00BFFF] group-hover:via-[#1E90FF] group-hover:to-[#87CEFA] absolute"></span>
          <span class="relative px-1 py-3 transition-all ease-out bg-white rounded-md group-hover:bg-opacity-0 duration-400">
          <span  class="relative text-[#87CEFA]">Temp Glue Roller PV</span>
          </span>
          </a>
      </div>
      <div class="w-full px-1">
        <div
          class="py-4 relative flex flex-col mb-2 min-w-0 break-words bg-gray-100 shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
          <div class="flex-auto p-4">
            <h5 class="text-center font-bold text-2xl">COMPARISON CHART</h5>
          </div>
          <div class="flex-auto p-6">
            <apx-chart [series]="dataSet.series" [chart]="dataSet.chart" [dataLabels]="dataSet.dataLabels"
              [plotOptions]="dataSet.plotOptions" [yaxis]="dataSet.yaxis" [legend]="dataSet.legend"
              [fill]="dataSet.fill" [stroke]="dataSet.stroke" [tooltip]="dataSet.tooltip" [xaxis]="dataSet.xaxis"
              [colors]="dataSet.colors"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="overflow-x-auto w-full px-1 p-4">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
          <tr>
            <th class="w-1/3 py-2 px-4">Real Value</th>
            <th class="w-1/3 py-2 px-4"> ARIMA Forecast</th>
            <th class="w-1/3 py-2 px-4">Error %</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let realValue of lastRealValues; let i = index" class="bg-gray-100 border-b shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
            <td class="py-2 px-4">{{ realValue }}</td>
            <td class="py-2 px-4" *ngFor="let forecastValue of forecastValuesA; let j = index" [hidden]="i !== j">{{ forecastValue }}</td>
            <td class="py-2 px-4" *ngFor="let forecastValue of forecastValuesA; let j = index" [hidden]="i !== j">{{ getErrorPercentage(realValue, forecastValue) | number: '1.2-2' }}%</td>
          </tr>
          <tr class="bg-gray-200">
            <td class="py-2 px-4" colspan="3">ARIMA MAPE: {{ mapeA | number: '1.2-2' }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="overflow-x-auto w-full px-1 p-4">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
          <tr>
            <th class="w-1/3 py-2 px-4">Real Value</th>
            <th class="w-1/3 py-2 px-4">Monte Carlo Forecast</th>
            <th class="w-1/3 py-2 px-4">Error %</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let realValue of lastRealValues; let i = index" class="bg-gray-100 border-b shadow-soft-lg rounded-xl bg-clip-border border-r shadow-lg">
            <td class="py-2 px-4">{{ realValue }}</td>
            <td class="py-2 px-4" *ngFor="let forecastValue of forecastValues; let j = index" [hidden]="i !== j">{{ forecastValue }}</td>
            <td class="py-2 px-4" *ngFor="let forecastValue of forecastValues; let j = index" [hidden]="i !== j">{{ getErrorPercentage(realValue, forecastValue) | number: '1.2-2' }}%</td>
          </tr>
          <tr class="bg-gray-200">
            <td class="py-2 px-4" colspan="3">Monte Carlo MAPE: {{ mapeMc | number: '1.2-2' }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>